<div class="form container">
  <div class="form-group"> 
    <h3><%= "Due Date : " %></h3>
    <%= @list.due_date %>
  </div>
  <div class="form-group"> 
    <h3><%= "Name : " %></h3>
    <%= @list.name %>
  </div>
  <div class="form-group">
    <h3><%= "Note : " %></h3>
    <%= simple_format(@list.note) %>
  </div>
  <div class="form-group">
    <h3><%= "Image : " %></h3>
    <%= image_tag @list.image.url, size: "140x140", class: "img-thumbnail" %>
  </div>
  <div class="form-group">
    <%= link_to "Back to List",lists_path, class: "btn btn-default" %>
  </div>
</div>
